.card-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: 0 15rem;
}

.plans-chard--container {
    width: 76rem;
    padding: 0 2rem;
}


.main--benefits--container {
    max-width: 100%;
}

.main--benefits--card {
    margin-bottom: 1rem;
}